<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <title>Homepage</title>

    <link rel="stylesheet" href="style.css" type="text/CSS">
</head>
<body>
    <h1 class="text-center" id="welcome-text" style="margin-top: 10vw;">Welcome!</h1>

    <div class="row text-center align-middle">
        <div class="col">
            <!-- <a href="/signup" style="text-align: center; margin-left: 10px;">
                <button type="button" class="btn btn-dark" style="text-align: center;">
                    <h3 style="text-align: center;"> Sign Up </h3> </button>
            </a> -->
            <a href="/seecourse" style="text-align: center; margin-left: 10px;">
                <button type="button" class="btn btn-dark" style="text-align: center;">
                    <h3 style="text-align: center;"> See Course </h3> </button>
            </a>
            <a href="/seeschedule" style="text-align: center; margin-left: 10px;">
                <button type="button" class="btn btn-dark" style="text-align: center;">
                    <h3 style="text-align: center;"> See Schedule </h3> </button>
            </a>
            <a href="/seeappointment" style="text-align: center; margin-left: 10px;">
                <button type="button" class="btn btn-dark" style="text-align: center;">
                    <h3 style="text-align: center;"> See Appointment </h3> </button>
            </a>
            <a href="/logout" style="text-align: center; margin-left: 10px;">
                <button type="button" class="btn btn-dark" style="text-align: center;">
                    <h3 style="text-align: center;"> Log Out </h3> </button>
            </a>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>