<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css" type="text/CSS">
</head>
<body>
<h1 id="welcome-text">Hello from Group 2!</h1>
<div class="row">
    <div class="col"></div>
    <div class="col">
        <a href="/seecourse" style="text-align: center; margin-left: 10px;">
            <button type="button" class="btn btn-dark" style="text-align: center;">
                <h3 style="text-align: center;"> See Course </h3> </button>
        </a>
    </div>
    <div class="col"></div>
</div>
</body>
</html>